.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

div.card-body {
    height: 125px;
}

.card {
    border-radius: 0;
    border: 0px ;
}

body {
    background-color: rgb(238, 238, 232);
}